<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mapa de Estações de Metrô de Madrid</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://cdn.tailwindcss.com"></script>
<style>
  #map { height: 800px; }

  .leaflet-tooltip-own {
    background: white;
    border: 1px solid gray;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    pointer-events: auto; 
    cursor: pointer;      
  }

  .tooltip-selecionada {
  background-color: #4ade80;
  border-color: #16a34a; 
  color: #000;
}


  #terminal {
    background: #ffffff;
    color: #000000;
    font-family: 'Courier New', monospace;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
    border-radius: 5px;
  }
</style>

</head>
<body class="bg-gray-100">
<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Mapa de Estações de Metrô de Madrid - Selecione Duas Estações</h1>
  <div class="mb-4">
    <label for="horario-saida" class="block text-sm font-medium text-gray-700">Horário de Saída:</label>
    <input type="time" id="horario-saida" class="mt-1 p-2 border rounded-md" required>
  </div>
  <div id="map" class="mb-4"></div>
  <div id="terminal" class="text-sm">Terminal: Clique em duas estações para obter o caminho mais curto.</div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
  const map = L.map('map').setView([40.4168, -3.7038], 13);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  let estacoesSelecionadas = [];
  let markers = [];
  let polylines = [];

  inicializaAsEstacoes()

  async function inicializaAsEstacoes() {
    try {
      const response = await fetch(`http://localhost:8080/grafo`);
      const data = await response.json();

      data.forEach(estacao => {
        const tooltip = L.tooltip({
          permanent: true,
          direction: 'top',
          offset: [0, 0],
          className: 'leaflet-tooltip-own'
        })
        .setLatLng([estacao.latitude, estacao.longitude])
        .setContent(estacao.nome)
        .addTo(map);

        // Aguarda o tooltip ser adicionado ao DOM
        setTimeout(() => {
          const el = tooltip.getElement();
          el.addEventListener('click', () => selecionaEstacao(estacao, tooltip));
        }, 0);
      });


    } catch (error) {
      updateTerminal(`Erro ao obter as estações: ${error.message}`);
    }
  }

function selecionaEstacao(estacao, elemento) {
  if (estacoesSelecionadas.length < 2) {
    estacoesSelecionadas.push(estacao);
    markers.push(elemento);
    const el = elemento.getElement();
    el.classList.add("tooltip-selecionada");
  }
  updateTerminal(`Estação selecionada: ${estacao.nome}`);

  if (estacoesSelecionadas.length === 2) {
    const horarioDeSaida = document.getElementById('horario-saida').value;
    if (!horarioDeSaida) {
      updateTerminal('Por favor, informe o horário de saída.');
      limpaAsSelecoes();
      return;
    }
    buscaCaminhoMinimo(estacoesSelecionadas[0], estacoesSelecionadas[1], horarioDeSaida);
  }
}


  async function buscaCaminhoMinimo(estacaDeOrigem, estacaoDeDestino, horarioDeSaida) {
    try {
      console.log("aq?", estacaDeOrigem.nome)
      const response = await fetch(`http://localhost:8080/grafo/caminho-minimo?origem=${estacaDeOrigem.nome}&destino=${estacaoDeDestino.nome}&hora=${horarioDeSaida}`);
      const data = await response.json();

      // const path = [
      //   {
      //     "nome": "ARGANDA DEL REY",
      //     "latitude": 40.3037,
      //     "longitude": -3.44752
      //   },
      //   {
      //     "nome": "LA POVEDA",
      //     "latitude": 40.3190,
      //     "longitude": -3.47745
      //   },
      //   {
      //     "nome": "RIVAS VACIAMADRID",
      //     "latitude": 40.3284,
      //     "longitude": -3.5206
      //   }
      // ]

      updateTerminal(`Caminho mais curto: ${path.map(estacao => estacao.nome).join(' -> ')}`);
      // updateTerminal(`Distância total: ${data.totalDistance.toFixed(2)} km`);
      desenhaCaminho(path);
      limpaAsSelecoes();
    } catch (error) {
      updateTerminal(`Erro ao obter o caminho: ${error.message}`);
      limpaAsSelecoes();
    }
  }

  function desenhaCaminho(path) {
    for (let i = 0; i < path.length - 1; i++) {
      const coordenadas = [
        [path[i].latitude, path[i].longitude],
        [path[i + 1].latitude, path[i + 1].longitude]
      ]
      L.polyline(coordenadas, { color: 'blue' }).addTo(map);
    }
  }

  function updateTerminal(message) {
    const terminal = document.getElementById('terminal');
    terminal.innerHTML += `<p>${message}</p>`;
    terminal.scrollTop = terminal.scrollHeight;
  }

function limpaAsSelecoes() {
  estacoesSelecionadas = [];
  markers.forEach(el => {
    const domEl = el.getElement();
    domEl.style.opacity = 1;
    domEl.classList.remove("tooltip-selecionada");
  });
  markers = [];
  polylines.forEach(polyline => map.removeLayer(polyline));
  polylines = [];
  updateTerminal('Seleção de estações reiniciada.');
}


</script>
</body>
</html>